body {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:  'Courier New', Courier, monospace;
    
}

#result {
    font-size: 30px;
    margin-top: 1rem;
    height: 2rem;
    text-align: center;
}

#board {
    width: fit-content;
    margin: 2rem;


    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 7em;
    background: black;
}

.cell {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: white;
}

button {
    width: 20rem;
    height: 3rem;
    justify-self: center;
    font-size: 2.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #F33633;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  #switch_container {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap:2px;
    align-items: center;
  }